body {
    background-color: lightblue;
}

h1.headline {
	font-family: 'Slabo 27px', serif;
}

p.firstparagraph {
	font-weight: bold;
	font-family: 'Poiret One', cursive;
	font-size: 18px

}

#skills,#education,#workexperience,#build {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	text-decoration:underline; 
	list-style: none;
}

#listskills,#listeducation,#listworkexperience,#projects {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center; 
	list-style: none;
}

img.firstpicture {
	height: 180px;
 	width: auto;
}

img.clicklinks {
	height: 45px;
	width: auto;

}

table.projects {
	border-style: solid;
	border-width: bold;
	border-color: black;
}
