body {
    background-color: #608ebc;
}

h1.headline {
	font-family: 'Slabo 27px', serif;
	text-align: center;
	text-decoration: underline;
}

p.firstparagraph {
	font-weight: bold;
	font-family: 'Poiret One', cursive;
	font-size: 24px
}

div.center {
    margin: auto;
    width: 20%;
    border:3px solid #164e5e;
}

 .button { 
 	font-size: 35px; 
 	color: rgb(255, 255, 255); 
 	background: rgb(0, 0, 0) none repeat scroll 0% 0%; 
 	width: 64px; 
 	height: 58px; 
 	border-radius: 13px; 
 	border-style: none;} 


#skills {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	text-decoration:underline; 
	list-style: none;
	padding-right: 2px;
}

#education,#workexperience,#build,#contact {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	text-decoration:underline; 
	list-style: none;
}

#listeducation,#listworkexperience,#projects {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center; 
	list-style: none;
}

ul.listskills {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center; 
	list-style: none;
	padding-right: 2px;
    padding-left: 0; 
}

form {
	text-align: center;
}

img.firstpicture {
	height: 180px;
 	width: auto;
 	position: center;
}

img.clicklinks {
	height: 45px;
	width: auto;

}

table.projects {
	border-style: solid;
	border-width: bold;
	border-color: black;
}
